<div class="container" >
<form class="form-horizontal">  
  <div class="form-group">
    <label for="Owner Name" class="col-md-2 control-label">Owner Name</label>
    <div class="col-md-5">
      {{input value=model.name class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label for="House No/Flat No" class="col-md-2 control-label">House No/Flat No</label>
    <div class="col-md-5">
      {{input value=model.name class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label for= "Society/Locality Name" class="col-md-2 control-label"> Society/Locality Name</label>
    <div class="col-md-5">
      {{input value=model.name class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label for= "Area Name" class="col-md-2 control-label"> Area Name</label>
    <div class="col-md-5">
      {{input value=model.name class="form-control"}}
    </div>
  </div>
  <div class="form-group">
      <label for="Street Name" class=" col-md-2 control-label">Street Name</label>
      <div class="col-md-5">
        {{input value=model.name class="form-control"}}
      </div>
  </div>
  <div class="form-group">
      <label for="State" class=" col-md-2 control-label">State</label>
      <div class="col-md-5">
         {{input value=model.name class="form-control"}}
      </div>
  </div>
  <div class="form-group">
      <label for="Pincode/Zipcode" class=" col-md-2 control-label">Pincode/Zipcode</label>
      <div class="col-md-5">
         {{input value=model.name class="form-control"}}
      </div>
  </div>
  <div class="form-group">
      <label for="Parking Type" class=" col-md-2 control-label">Parking Type</label>
      <div class="col-md-5">
         {{input value=model.name class="form-control"}}
      </div>
  </div>
   <div class="form-group">
      <label for="Rate Per Hour" class=" col-md-2 control-label">Rate Per Hour</label>
      <div class="col-md-5">
         {{input value=model.name class="form-control"}}
      </div>
  </div>
  <div class="form-group">
      <label for="Available Time" class=" col-md-2 control-label">Available Time</label>
      <div class="col-md-5">
         {{input value=model.name class="form-control"}}
      </div>
  </div>
  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
     <button {{action "createThing"}} class="btn btn-sm btn-primary">Save</button>
   </div>
 </div>
</form> 
</div>